#### DATA 620 - Project #3

- Using any of the three classifiers described in chapter 6 of Natural Language Processing with Python, and any features you can think of, build the best name gender classifier you can. 
- Begin by splitting the Names Corpus into three subsets: 500 words for the test set, 500 words for the dev-test set, and the remaining 6900 words for the training set. 
- Then, starting with the example name gender classifier, make incremental improvements. 
- Use the dev-test set to check your progress. 
- Once you are satisfied with your classifier, check its final performance on the test set. How does the performance on the test set compare to the performance on the dev-test set? 
- Is this what you'd expect?
- Project is due 3/26.
- Source: Natural Language Processing with Python, exercise 6.10.2.

In [1]:
from nltk.corpus import names

In [7]:
import nltk

In [8]:
nltk.download('names')

[nltk_data] Downloading package names to
[nltk_data]     /Users/korymartin/nltk_data...
[nltk_data]   Unzipping corpora/names.zip.

True

In [2]:
import random

In [14]:
names = ([(name,'male') for name in names.words('male.txt')] + [(name,'female') for name in names.words('female.txt')])

In [15]:
random.shuffle(names)

In [17]:
len(names)

7944

In [38]:
train = names[1000:]
test = names[:500]
dev_test = names[500:1000]

Name Classifier

In [59]:
def gender_features(word):
    features = {'last_letter':word[-1], 'first_letter':word[0].lower(),'name_length':len(word)}
    return features

In [60]:
featuresets = [(gender_features(n),g) for (n,g) in names]

In [68]:
train_set = [(gender_features(n),g) for (n,g) in train]
test_set = [(gender_features(n),g) for (n,g) in test]
dev_test_set = [(gender_features(n),g) for (n,g) in dev_test]

In [69]:
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [64]:
print(nltk.classify.accuracy(classifier,test_set))

0.79

In [67]:
gender_features('Kory')

{'last_letter': 'y', 'first_letter': 'k', 'name_length': 4}

In [65]:
classifier.show_most_informative_features(20)

Most Informative Features
             last_letter = 'a'            female : male   =     35.5 : 1.0
             last_letter = 'k'              male : female =     29.5 : 1.0
             last_letter = 'v'              male : female =     18.8 : 1.0
             last_letter = 'f'              male : female =     16.7 : 1.0
             last_letter = 'p'              male : female =     11.9 : 1.0
             last_letter = 'd'              male : female =      9.2 : 1.0
             last_letter = 'm'              male : female =      8.1 : 1.0
             last_letter = 'w'              male : female =      8.0 : 1.0
             last_letter = 'o'              male : female =      8.0 : 1.0
             last_letter = 'z'              male : female =      7.9 : 1.0
             last_letter = 'r'              male : female =      6.7 : 1.0
             last_letter = 'g'              male : female =      5.1 : 1.0
            first_letter = 'w'              male : female =      4.7 : 1.0
             last_letter = 's'              male : female =      4.3 : 1.0
             last_letter = 'b'              male : female =      4.1 : 1.0
             last_letter = 't'              male : female =      3.9 : 1.0
             last_letter = 'i'            female : male   =      3.7 : 1.0
             last_letter = 'u'              male : female =      3.6 : 1.0
            first_letter = 'q'              male : female =      2.9 : 1.0
            first_letter = 'x'              male : female =      2.8 : 1.0

Evaluation

In [ ]:
errors = []
for (name,tag) in dev_test:
    guess = classifier.classify(gender_features(name))
    if guess != tag:
        errors.append((tag,guess,name))

In [75]:
import pandas as pd

In [79]:
errors_df = pd.DataFrame(errors).rename(columns={0:'correct', 1:'guess', 2:'name'})

In [84]:
pd.set_option('display.max_rows',150)

In [85]:
errors_df.sort_values(by=['correct','name'], ascending=[False,True])

    correct   guess            name
53     male  female            Alaa
2      male  female           Anton
50     male  female         Antonin
25     male  female           Artie
48     male  female           Ashby
87     male  female       Augustine
80     male  female             Ave
96     male  female         Averell
109    male  female           Beale
102    male  female           Cammy
100    male  female         Chrissy
78     male  female       Clayborne
99     male  female           Cyril
0      male  female            Dale
20     male  female          Damien
112    male  female           Darcy
76     male  female          Darryl
47     male  female           Devin
69     male  female           Donal
30     male  female          Dwaine
97     male  female          Dwayne
68     male  female           Dylan
46     male  female           Dyson
63     male  female        Emmanuel
74     male  female           Erwin
37     male  female         Ezekiel
62     male  female            Gene
57     male  female        Geoffrey
70     male  female          Gerome
89     male  female        Greggory
94     male  female           Howie
34     male  female          Israel
73     male  female           Jamie
103    male  female         Jeffery
56     male  female          Jeffie
111    male  female           Jefry
108    male  female            Jeth
77     male  female          Kalvin
61     male  female         Kennedy
105    male  female          Kenyon
38     male  female      Konstantin
98     male  female        Lawrence
67     male  female            Leon
29     male  female        Marietta
23     male  female          Marwin
82     male  female          Melvin
106    male  female           Micah
39     male  female         Michael
24     male  female          Mickie
35     male  female            Mike
42     male  female          Milton
14     male  female           Mitch
12     male  female          Morlee
71     male  female           Morly
66     male  female           Mugsy
41     male  female       Nathanael
104    male  female            Neal
72     male  female         Nichole
93     male  female         Orville
11     male  female           Ozzie
44     male  female          Paddie
101    male  female         Patrice
6      male  female        Phillipe
59     male  female            Ravi
18     male  female           Rodge
40     male  female          Roscoe
110    male  female         Samuele
17     male  female           Sandy
64     male  female            Shea
75     male  female          Sheffy
92     male  female          Spense
54     male  female           Stacy
55     male  female         Stanley
28     male  female        Terrance
7      male  female            Vail
31     male  female         Vassily
9      male  female           Yancy
43   female    male         Aigneis
86   female    male           Allys
13   female    male           Anais
51   female    male           Beryl
16   female    male          Dallas
45   female    male           Denys
95   female    male          Easter
84   female    male         Eleanor
90   female    male            Enid
32   female    male          Farand
81   female    male          Garnet
22   female    male         Gillian
1    female    male         Glennis
19   female    male           Grier
33   female    male          Hilary
4    female    male       Hildagard
79   female    male          Jasmin
91   female    male            Jean
15   female    male        Jennifer
10   female    male             Kym
88   female    male           Linet
21   female    male          Marget
65   female    male          Nariko
85   female    male            Olly
5    female    male            Pooh
49   female    male           Robyn
52   female    male            Roch
58   female    male             Row
107  female    male          Shanon
8    female    male  Sheila-Kathryn
3    female    male           Shell
60   female    male         Sherill
83   female    male            Suzy
26   female    male         Whitney
27   female    male      Wilhelmine
36   female    male           Winny

In [74]:
for (tag,guess,name) in sorted(errors):
    print('correct= %s guess= %s name= %s' % (tag,guess,name))

correct= female guess= male name= Aigneis
correct= female guess= male name= Allys
correct= female guess= male name= Anais
correct= female guess= male name= Beryl
correct= female guess= male name= Dallas
correct= female guess= male name= Denys
correct= female guess= male name= Easter
correct= female guess= male name= Eleanor
correct= female guess= male name= Enid
correct= female guess= male name= Farand
correct= female guess= male name= Garnet
correct= female guess= male name= Gillian
correct= female guess= male name= Glennis
correct= female guess= male name= Grier
correct= female guess= male name= Hilary
correct= female guess= male name= Hildagard
correct= female guess= male name= Jasmin
correct= female guess= male name= Jean
correct= female guess= male name= Jennifer
correct= female guess= male name= Kym
correct= female guess= male name= Linet
correct= female guess= male name= Marget
correct= female guess= male name= Nariko
correct= female guess= male name= Olly
correct= female guess= male name= Pooh
correct= female guess= male name= Robyn
correct= female guess= male name= Roch
correct= female guess= male name= Row
correct= female guess= male name= Shanon
correct= female guess= male name= Sheila-Kathryn
correct= female guess= male name= Shell
correct= female guess= male name= Sherill
correct= female guess= male name= Suzy
correct= female guess= male name= Whitney
correct= female guess= male name= Wilhelmine
correct= female guess= male name= Winny
correct= male guess= female name= Alaa
correct= male guess= female name= Anton
correct= male guess= female name= Antonin
correct= male guess= female name= Artie
correct= male guess= female name= Ashby
correct= male guess= female name= Augustine
correct= male guess= female name= Ave
correct= male guess= female name= Averell
correct= male guess= female name= Beale
correct= male guess= female name= Cammy
correct= male guess= female name= Chrissy
correct= male guess= female name= Clayborne
correct= male guess= female name= Cyril
correct= male guess= female name= Dale
correct= male guess= female name= Damien
correct= male guess= female name= Darcy
correct= male guess= female name= Darryl
correct= male guess= female name= Devin
correct= male guess= female name= Donal
correct= male guess= female name= Dwaine
correct= male guess= female name= Dwayne
correct= male guess= female name= Dylan
correct= male guess= female name= Dyson
correct= male guess= female name= Emmanuel
correct= male guess= female name= Erwin
correct= male guess= female name= Ezekiel
correct= male guess= female name= Gene
correct= male guess= female name= Geoffrey
correct= male guess= female name= Gerome
correct= male guess= female name= Greggory
correct= male guess= female name= Howie
correct= male guess= female name= Israel
correct= male guess= female name= Jamie
correct= male guess= female name= Jeffery
correct= male guess= female name= Jeffie
correct= male guess= female name= Jefry
correct= male guess= female name= Jeth
correct= male guess= female name= Kalvin
correct= male guess= female name= Kennedy
correct= male guess= female name= Kenyon
correct= male guess= female name= Konstantin
correct= male guess= female name= Lawrence
correct= male guess= female name= Leon
correct= male guess= female name= Marietta
correct= male guess= female name= Marwin
correct= male guess= female name= Melvin
correct= male guess= female name= Micah
correct= male guess= female name= Michael
correct= male guess= female name= Mickie
correct= male guess= female name= Mike
correct= male guess= female name= Milton
correct= male guess= female name= Mitch
correct= male guess= female name= Morlee
correct= male guess= female name= Morly
correct= male guess= female name= Mugsy
correct= male guess= female name= Nathanael
correct= male guess= female name= Neal
correct= male guess= female name= Nichole
correct= male guess= female name= Orville
correct= male guess= female name= Ozzie
correct= male guess= female name= Paddie
correct= male guess= female name= Patrice
correct= male guess= female name= Phillipe
correct= male guess= female name= Ravi
correct= male guess= female name= Rodge
correct= male guess= female name= Roscoe
correct= male guess= female name= Samuele
correct= male guess= female name= Sandy
correct= male guess= female name= Shea
correct= male guess= female name= Sheffy
correct= male guess= female name= Spense
correct= male guess= female name= Stacy
correct= male guess= female name= Stanley
correct= male guess= female name= Terrance
correct= male guess= female name= Vail
correct= male guess= female name= Vassily
correct= male guess= female name= Yancy

Conclusion